@model lab_3.Models.Task

<h1>Task Details</h1>

<table>
    <tr>
        <th>Task Title</th>
        <td>@Model.Title</td>
    </tr>
    <tr>
        <th>Author</th>
        <td>@Model.Author.FirstName @Model.Author.LastName</td>
    </tr>
    <tr>
        <th>Executor</th>
        <td>@Model.Executor?.FirstName @Model.Executor?.LastName</td>
    </tr>
    <tr>
        <th>Status</th>
        <td>@Model.Status</td>
    </tr>
    <tr>
        <th>Priority</th>
        <td>@Model.Priority</td>
    </tr>
    <tr>
        <th>Comment</th>
        <td>@Model.Comment</td>
    </tr>
</table>

<a href="@Url.Action("Edit", "Tasks", new { id = Model.Id })">Edit</a>
<a href="@Url.Action("Index", "Tasks")">Back</a>
