@model lab_3.Models.Employee

<h1>Детали сотрудника</h1>

<table class="table">
    <tr>
        <th>Имя</th>
        <td>@Model.FirstName</td>
    </tr>
    <tr>
        <th>Фамилия</th>
        <td>@Model.LastName</td>
    </tr>
    <tr>
        <th>Отчество</th>
        <td>@Model.MiddleName</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>@Model.Email</td>
    </tr>
</table>

<a href="@Url.Action("Edit", "Employees", new { id = Model.Id })" class="btn btn-primary">Редактировать</a>
<a href="@Url.Action("Index", "Employees")" class="btn btn-secondary">Назад</a>
