@model IEnumerable<lab_3.Models.Employee>

<h1>Список сотрудников</h1>

<table class="table">
    <thead>
        <tr>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Отчество</th>
            <th>Email</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.FirstName</td>
                <td>@employee.LastName</td>
                <td>@employee.MiddleName</td>
                <td>@employee.Email</td>
                <td>
                    <a href="@Url.Action("Edit", "Employees", new { id = employee.Id })">Редактировать</a> |
                    <a href="@Url.Action("Details", "Employees", new { id = employee.Id })">Просмотр</a> |
                    <a href="@Url.Action("Delete", "Employees", new { id = employee.Id })">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Create", "Employees")" class="btn btn-primary">Добавить сотрудника</a>
